<!DOCTYPE html>
<html>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.js"></script>
  <title>stock prices</title>

  <body>
    <canvas id="myChart" style="width: 100%; max-width: 900px"></canvas>

    <script>
      var xValues = {{labels | safe}};
      var yValues = {{values | safe}};

      new Chart("myChart", {
        type: "line",
        data: {
          labels: xValues,
          datasets: [{
            fill: false,
            lineTension: 0,
            backgroundColor: "rgba(0,0,255,1.0)",
            borderColor: "rgba(0,0,255,0.1)",
            data: yValues
          }]
        },
        options: {
          legend: {display: false},
          scales: {
            yAxes: [{ticks: {min: 0, max:17000}}],
          }
        }
      });
    </script>
  </body>
</html>
